body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: burlywood;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

main{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    height: 500px;
}

aside{
    background-color: aqua;
    flex: 1;
    padding: 10px;
    margin: 10px;
}

article{
    background-color: red;
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
    margin: 10px;
}

img{
    padding: 20px;
}

footer{
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
